doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{title}
    link(rel='stylesheet', href='/css/main.css?1')
    link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
  body.has-navbar-fixed-top
    header
      nav.navbar.is-fixed-top.has-shadow
        .container
          .navbar-brand
            a.navbar-item(href='/')
              img(src='/imgs/logo.png', alt='coomi', width='112', height='28')
            .navbar-burger.burger(data-target='navbar-menu')
              span
              span
              span
          #navbar-menu.navbar-menu
            .navbar-end
              a.navbar-item(href='#main') #{white_paper}
              a.navbar-item(href='#about') #{about}
              a.navbar-item(href='#painpoint') 行业痛点
              a.navbar-item(href='#whyus') Why US!
              a.navbar-item(href='#roadmap') #{road_map}
              .navbar-item.has-dropdown
                a.navbar-link #{language}
                .navbar-dropdown
                  a.navbar-item(href="/zh") 中文
                  a.navbar-item(href="/en") English
                  a.navbar-item(href="/ja") 日本語
    main
      section#main.section.is-hero
        .container
          .columns.is-vcentered
            .column.is-6
              .section-header
                img(src='/imgs/logo_main.png')
                p.title.is-3 #{subtitle}
                .main-buttons
                  a.button.is-rounded.is-medium(href='assets/Coomi-WhitePaper-V1.0.pdf') #{white_paper}
                  a.button.is-rounded.is-medium(href='/demo') DEMO
            .column.is-6.is-vcentered
              .slicks
                div
                  img(src='/imgs/slide1.png?1')
                div
                  img(src='/imgs/slide2.png?1')
                div
                  img(src='/imgs/slide3.png?1')
                div
                  img(src='/imgs/slide4.png?1')
                div
                  img(src='/imgs/slide5.png?1')
                div
                  img(src='/imgs/slide6.png?1')              
      section#about.section
        .container.card-box
          .columns
            .column.is-6
              .feature-head
                img.feature(src='/imgs/feature1.png?1')
                p.title.is-5 #{details_title_1}
              .feature-body
                p.is-6 #{details_subtitle_1}
            .column.is-6
              .feature-head
                img.feature(src='/imgs/feature2.png?1')
                p.title.is-5 #{details_title_2}
              .feature-body
                p.is-6 #{details_subtitle_2}
          .columns
            .column.is-6
              .feature-head
                img.feature(src='/imgs/feature3.png?1')
                p.title.is-5 #{details_title_3}
              .feature-body
                p.is-6 #{details_subtitle_3}
            .column.is-6
              .feature-head
                img.feature(src='/imgs/feature4.png?1')
                p.title.is-5 #{details_title_4}
              .feature-body
                p.is-6 #{details_subtitle_4}
      section#painpoint.section
        .container
          .section-header.has-text-centered
            p.title.is-4 行业痛点
            p 用户的搜索效率还有很大的提升空间，平台和企业，平台和用户利益分配不公
          .section-body
            .columns.painpoint-head.card-box
              .column.is-6
                p.title.is-5 痛点1：用户搜索，决策效率低
              .column.is-6
                p.title.is-5 痛点2：平台和企业、平台和用户利益分配不公
            .columns.painpoint-body.card-box
              .column.is-6
                p 
                  | ·这条口碑本身有参考价值吗？
                  | ·店铺经营口碑太累
                  | ·平台消差评
                  | ·想看的品类没有内容
                  | ·HP式的口碑罗列搜的累
                  | ·刷好评，软文
                  | ·写这条口碑的人可信吗？
                  | ·恶意差评
                  | ·广告干扰
              .column.is-6
                p
                  | ·店铺被平台压榨
                  | ·口碑的变现大头都给平台了
                  | ·没有写口碑的动力
            .arrow-down
              i.fas.fa-arrow-down
            .columns.painpoint-body.card-box
              .column.is-4
                p 口碑作者值得信赖
              .column.is-4
                p 口碑有客观的参考价值
              .column.is-4
                p 建立平台／企业／用户的公平利益关系
            .arrow-down
              i.fas.fa-arrow-down
            .columns.painpoint-body.card-box
              .column.is-4
                p 人际关系网
              .column.is-4
                p 人工智能排序
              .column.is-4
                p 基于区块链的通证体系
      section#whyus.section
        .container
          .section-header.has-text-centered
            p.title.is-4 Why US!
            p.is-6 
            | 比起Steem等类似产品，Coomi的用户门槛更低，具有很好的落地性。比起Yelp，大众点评，Retty等产品，
            | Coomi里的更丰富更可靠的口碑，给用户提供更高的价值。
          .section-body
            .columns
              .column.is-6
                img(src='/imgs/whyus1.png')
              .column.is-6
                img(src='/imgs/whyus2.png')
      section#roadmap.section
        .container
          .section-header.has-text-centered
            p.title.is-4 #{road_map}
          .section-body
            .timeline.is-centered
              header.timeline-header
                span.tag 2017
              .timeline-item
                .timeline-marker
                .timeline-content
                  p.heading #{road_map_time_1}
                  p #{road_map_content_1}
              header.timeline-header
                span.tag 2018
              .timeline-item
                .timeline-marker
                .timeline-content
                  p.heading #{road_map_time_2}
                  p #{road_map_content_2}
              .timeline-item
                .timeline-marker
                .timeline-content
                  p.heading #{road_map_time_3}
                  p #{road_map_content_3}
              .timeline-item
                .timeline-marker
                .timeline-content
                  p.heading #{road_map_time_4}
                  p #{road_map_content_4}
              .timeline-item
                .timeline-marker
                .timeline-content
                  p.heading #{road_map_time_5}
                  p #{road_map_content_5}
              .timeline-item
                .timeline-marker
                .timeline-content
                  p.heading #{road_map_time_6}
                  p #{road_map_content_6}
              header.timeline-header
                span.tag 2019
              .timeline-item
                .timeline-marker
                .timeline-content
                  p.heading #{road_map_time_7}
                  p #{road_map_content_7}
    footer#footer.footer
      .container
          .content.has-text-centered
            a(href='https://t.me/joinchat/HBKwXkdxLQ4KMk1s9nJg9g' target='_blank')
              i.fab.fa-weixin.fa-2x
            a(href='https://twitter.com/tokenpocket' target='_blank')
              i.fab.fa-twitter.fa-2x
            a(href='https://t.me/joinchat/HBKwXkdxLQ4KMk1s9nJg9g' target='_blank')
              i.fab.fa-telegram-plane.fa-2x
            a(href='https://medium.com/@tokenpocket_jp' target='_blank')
              i.fab.fa-reddit.fa-2x
            a(href='https://github.com/coomiproject' target='_blank')
              i.fab.fa-github.fa-2x
          .content.has-text-centered
            p
              i.fas.fa-copyright
              | &nbsp;2018 Coomi, Inc.
            p
              i.fas.fa-map-marker-alt
              | &nbsp;Tokyo, Japan
    script(defer src='https://use.fontawesome.com/releases/v5.0.7/js/all.js')
    script(type='text/javascript', src='https://code.jquery.com/jquery-1.11.0.min.js')
    script(type='text/javascript', src='https://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script(type='text/javascript', src='/lib/smooth-scroll.min.js')
    script(type='text/javascript', src='/lib/main.js')
