doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{title}
    link(rel='stylesheet', href='/css/main.css?1')
    link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
  body.has-navbar-fixed-top
    header
      nav.navbar.is-fixed-top.has-shadow
        .container
          .navbar-brand
            a.navbar-item(href='/')
              img(src='/imgs/logo_main.png', alt='coomi', width='112', height='28')
            .navbar-burger.burger(data-target='navbar-menu')
              span
              span
              span
          #navbar-menu.navbar-menu
            .navbar-end
              a.navbar-item(href='#about') #{about}
              a.navbar-item(href='#showcases') #{showcase}
              a.navbar-item(href='#roadmap') #{road_map}
              a.navbar-item(href='#whitepaper') #{white_paper}
              .navbar-item.has-dropdown
                a.navbar-link #{language}
                .navbar-dropdown
                  a.navbar-item(href="/zh") 中文
                  a.navbar-item(href="/en") English
                  a.navbar-item(href="/ja") 日本語
    main.content
      section#about.section.is-hero
        .container
          .columns.is-vcentered
            .column.is-6
              .section-header
                h1.title.is-1.is-spaced.is-bold.has-tint Coomi
                p.subtitle.is-3 #{subtitle}
                .control
                  a.button.is-success.is-rounded.is-medium(href='#whitepaper') #{white_paper}
            .column.is-6.is-vcentered
              .phone-slides
                .slicks
                  div
                    img(src='/imgs/slide0.png?1', alt='slide0')
                  div
                    img(src='/imgs/slide1.png?1', alt='slide1')
                  div
                    img(src='/imgs/slide2.png?1', alt='slide2')
                  div
                    img(src='/imgs/slide3.png?1', alt='slide3')
                  div
                    img(src='/imgs/slide4.png?1', alt='slide4')
                  div
                    img(src='/imgs/slide5.png?1', alt='slide5')              
      section#showcases.section.is-timeline.is-alternative
        .container.has-text-centered
          header.section-header
            h1.title.is-spaced.is-bold.has-tint
              i.icon.icon-arrow-down
                svg(version='1.1', xmlns='https://www.w3.org/2000/svg', xmlns:xlink='https://www.w3.org/1999/xlink', width='32', height='32', viewbox='0 0 32 32')
                  path(d='M27.414 19.414l-10 10c-0.781 0.781-2.047 0.781-2.828 0l-10-10c-0.781-0.781-0.781-2.047 0-2.828s2.047-0.781 2.828 0l6.586 6.586v-19.172c0-1.105 0.895-2 2-2s2 0.895 2 2v19.172l6.586-6.586c0.39-0.39 0.902-0.586 1.414-0.586s1.024 0.195 1.414 0.586c0.781 0.781 0.781 2.047 0 2.828z')
              .subtitle
                p #{detail}
          .section-body
            .columns.is-centered
              .column.is-8
                .columns
                  .column.is-6.is-right
                    .box.is-transparent.is-borderless.vc
                      .title.is-3.is-spaced #{details_title_1}
                      p.subtitle.is-4 #{details_subtitle_1}
                  .column.is-6.is-left
                    .box.is-transparent.is-borderless
                      img(src='/imgs/slide3.png?1', width='300')
                .columns
                  .column.is-6.is-left
                    .box.is-transparent.is-borderless.vc
                      .title.is-3.is-spaced #{details_title_2}
                      p.subtitle.is-4 #{details_subtitle_2}
                  .column.is-6.is-right
                    .box.is-transparent.is-borderless
                      img(src='/imgs/slide1.png?1', width='300')
                .columns
                  .column.is-6.is-right
                    .box.is-transparent.is-borderless.vc
                      .title.is-3.is-spaced #{details_title_3}
                      p.subtitle.is-4 #{details_subtitle_3}
                  .column.is-6.is-left
                    .box.is-transparent.is-borderless
                      img(src='/imgs/slide2.png?1', width='300')
                .columns
                  .column.is-6.is-left
                    .box.is-transparent.is-borderless.vc
                      .title.is-3.is-spaced #{details_title_4}
                      p.subtitle.is-4 #{details_subtitle_4}
                  .column.is-6.is-right
                    .box.is-transparent.is-borderless
                      img(src='/imgs/slide4.png?1', width='300')
      section#roadmap.hero.is-medium.is-warning.is-bold
        header.section-header.has-text-centered
          h1.title.is-spaced.is-bold.has-tint
            i.icon.icon-arrow-down
              svg(version='1.1', xmlns='https://www.w3.org/2000/svg', xmlns:xlink='https://www.w3.org/1999/xlink', width='32', height='32', viewbox='0 0 32 32')
                path(d='M27.414 19.414l-10 10c-0.781 0.781-2.047 0.781-2.828 0l-10-10c-0.781-0.781-0.781-2.047 0-2.828s2.047-0.781 2.828 0l6.586 6.586v-19.172c0-1.105 0.895-2 2-2s2 0.895 2 2v19.172l6.586-6.586c0.39-0.39 0.902-0.586 1.414-0.586s1.024 0.195 1.414 0.586c0.781 0.781 0.781 2.047 0 2.828z')
            .subtitle
              p #{road_map}
        .timeline.is-centered
          header.timeline-header
            span.tag.is-primary 2017
          .timeline-item.is-primary
            .timeline-marker.is-primary
            .timeline-content
              p.heading #{road_map_time_1}
              p #{road_map_content_1}
          header.timeline-header
            span.tag.is-primary 2018
          .timeline-item.is-primary
            .timeline-marker.is-primary
            .timeline-content
              p.heading #{road_map_time_2}
              p #{road_map_content_2}
          .timeline-item.is-primary
            .timeline-marker.is-primary
            .timeline-content
              p.heading #{road_map_time_3}
              p #{road_map_content_3}
          .timeline-item.is-primary
            .timeline-marker.is-primary
            .timeline-content
              p.heading #{road_map_time_4}
              p #{road_map_content_4}
          .timeline-item.is-primary
            .timeline-marker.is-primary
            .timeline-content
              p.heading #{road_map_time_5}
              p #{road_map_content_5}
          .timeline-item.is-primary
            .timeline-marker.is-primary
            .timeline-content
              p.heading #{road_map_time_6}
              p #{road_map_content_6}
          header.timeline-header
            span.tag.is-primary 2019
          .timeline-item.is-primary
            .timeline-marker.is-primary
            .timeline-content
              p.heading #{road_map_time_7}
              p #{road_map_content_7}
      section#whitepaper.hero.is-medium.is-primary.is-bold
        .hero-body
          .container.has-text-centered
            h1.title
              a.is-inline-block.whitepaper(href='assets/Coomi-WhitePaper-V1.0.pdf', title='whitepaper') #{white_paper_link_title}
            h2.subtitle
    footer.app-footer
      .container
        .columns.is-multiline.is-mobile
          .column.is-12-mobile.is-4-tablet
            .closure
              a.is-inline-block(href='/', title='Gustav')
                img(src='/imgs/logo_full_sm.png', alt='coomi', width='112', height='28')
              p © 2018 Coomi Technologies, Inc. 
          .column.is-12-mobile.is-2-tablet
            .menu
          .column.is-12-mobile.is-2-tablet
          .column.is-12-mobile.is-2-tablet
            .menu
              h3.menu-label About us 
              ul.menu-list
                li
                  a(href='/imprint') Imprint
                li
                  a(href='mailto:team@commi.io') Press
                li
                  a(href='/team') Team
                li
                  a(href='/privacy.pdf', target='_blank') Privacy Policy
                li
                  a(href='/terms.pdf', target='_blank') Terms of Use
          .column.is-12-mobile.is-2-tablet
            .menu
              h3.menu-label Connect 
              ul.menu-list
                li
                  a(href='https://twitter.com/?', target='_blank', title='Coomi on Twitter') Twitter
                li
                  a(href='https://www.facebook.com/?', target='_blank', title='Coomi on Facebook') Facebook
                li
                  a(href='https://www.instagram.com/?', target='_blank', title='Coomi on Instagram') Instagram
                li
                  a(href='https://www.linkedin.com/company/?', target='_blank', title='Coomi on LinkedIn') LinkedIn
    script(defer src='https://use.fontawesome.com/releases/v5.0.7/js/all.js')
    script(type='text/javascript', src='https://code.jquery.com/jquery-1.11.0.min.js')
    script(type='text/javascript', src='https://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script(type='text/javascript', src='/lib/smooth-scroll.min.js')
    script(type='text/javascript', src='/lib/main.js')
