doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{title}
    link(rel='stylesheet', href='/css/main.css?1')
    link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
  body.has-navbar-fixed-top
    header
      nav.navbar.is-fixed-top.has-shadow
        .container
          .navbar-brand
            a.navbar-item(href='/')
              img(src='/imgs/logo_main.png', alt='coomi', width='112', height='28')
            .navbar-burger.burger(data-target='navbar-menu')
              span
              span
              span
          #navbar-menu.navbar-menu
            .navbar-end
              a.navbar-item(href='#about') #{about}
              a.navbar-item(href='#showcases') #{showcase}
              a.navbar-item(href='#roadmap') #{road_map}
              .navbar-item.has-dropdown
                a.navbar-link #{language}
                .navbar-dropdown
                  a.navbar-item(href="/zh") 中文
                  a.navbar-item(href="/en") English
                  a.navbar-item(href="/ja") 日本語
    main.content
      section#about.section.is-hero
        .container
          .columns.is-vcentered
            .column.is-6
              .section-header
                img(src='/imgs/logo_main.png')
                p.subtitle.is-3 #{subtitle}
                a.button.is-rounded.is-medium(href='assets/Coomi-WhitePaper-V1.0.pdf') #{white_paper}
            .column.is-6.is-vcentered
              .phone-slides
                .slicks
                  div
                    img(src='/imgs/slide1.png?1')
                  div
                    img(src='/imgs/slide2.png?1')
                  div
                    img(src='/imgs/slide3.png?1')
                  div
                    img(src='/imgs/slide4.png?1')
                  div
                    img(src='/imgs/slide5.png?1')
                  div
                    img(src='/imgs/slide6.png?1')              
      section#showcases.section
        .container
          .columns
            .column.is-6
              .feature-head
                img.feature(src='/imgs/feature1.png?1')
                h.title.is-5 #{details_title_1}
              .feature-body
                p.subtitle.is-6 #{details_subtitle_1}
            .column.is-6
              .feature-head
                img.feature(src='/imgs/feature2.png?1')
                h.title.is-5 #{details_title_2}
              .feature-body
                p.subtitle.is-6 #{details_subtitle_2}
          .columns
            .column.is-6
              .feature-head
                img.feature(src='/imgs/feature3.png?1')
                h.title.is-5 #{details_title_3}
              .feature-body
                p.subtitle.is-6 #{details_subtitle_3}
            .column.is-6
              .feature-head
                img.feature(src='/imgs/feature4.png?1')
                h.title.is-5 #{details_title_4}
              .feature-body
                p.subtitle.is-6 #{details_subtitle_4}
      section#comparison.section
        .container
          .section-header.has-text-centered
            h.title.is-4 行业痛点
            p.subtitle.is-6 用户的搜索效率还有很大的提升空间，平台和企业，平台和用户利益分配不公
          .section-body
            .columns.comparison-head
              .column.is-6
                h.title.is-5 痛点1：用户搜索，决策效率低
              .column.is-6
                h.title.is-5 痛点2：平台和企业、平台和用户利益分配不公
            .columns.comparison-body
              .column.is-6
                p ·这条口碑本身有参考价值吗？
                p ·店铺经营口碑太累
                p ·平台消差评
                p ·想看的品类没有内容
                p ·HP式的口碑罗列搜的累
                p ·刷好评，软文
                p ·写这条口碑的人可信吗？
                p ·恶意差评
                p ·广告干扰
              .column.is-6
                p ·店铺被平台压榨
                p ·口碑的变现大头都给平台了
                p ·没有写口碑的动力
            .arrow-down
              i.fas.fa-arrow-down
            .columns.comparison-body
              .column.is-4
                p 口碑作者值得信赖
              .column.is-4
                p ···价值
              .column.is-4
                p ···公平
            .arrow-down
              i.fas.fa-arrow-down
            .columns.comparison-body
              .column.is-4
                p 人际关系网
              .column.is-4
                p AI算法
              .column.is-4
                p Token···
      section#whyus.section
        .section-header.has-text-centered
          h.title.is-4 Why US!
          p.subtitle.is-6 
          | 比起Steem等类似产品，Coomi的用户门槛更低，具有很好的落地性。比起Yelp，大众点评，Retty等产品，
          | Coomi里的更丰富更可靠的口碑，给用户提供更高的价值。
        .section-body
          .columns
            .column.is-6
              img(src='/imgs/whyus1.png')
            .column.is-6
              img(src='/imgs/whyus2.png')
      section#roadmap.section
        .container
          header.section-header.has-text-centered
            i.fas.fa-arrow-down
            p #{road_map}
          .timeline.is-centered
            header.timeline-header
              span.tag.is-primary 2017
            .timeline-item.is-primary
              .timeline-marker.is-primary
              .timeline-content
                p.heading #{road_map_time_1}
                p #{road_map_content_1}
            header.timeline-header
              span.tag.is-primary 2018
            .timeline-item.is-primary
              .timeline-marker.is-primary
              .timeline-content
                p.heading #{road_map_time_2}
                p #{road_map_content_2}
            .timeline-item.is-primary
              .timeline-marker.is-primary
              .timeline-content
                p.heading #{road_map_time_3}
                p #{road_map_content_3}
            .timeline-item.is-primary
              .timeline-marker.is-primary
              .timeline-content
                p.heading #{road_map_time_4}
                p #{road_map_content_4}
            .timeline-item.is-primary
              .timeline-marker.is-primary
              .timeline-content
                p.heading #{road_map_time_5}
                p #{road_map_content_5}
            .timeline-item.is-primary
              .timeline-marker.is-primary
              .timeline-content
                p.heading #{road_map_time_6}
                p #{road_map_content_6}
            header.timeline-header
              span.tag.is-primary 2019
            .timeline-item.is-primary
              .timeline-marker.is-primary
              .timeline-content
                p.heading #{road_map_time_7}
                p #{road_map_content_7}
    footer.footer
      .container
        .columns.is-multiline.is-mobile
          .column.is-12-mobile.is-4-tablet
            .closure
              a.is-inline-block(href='/', title='Gustav')
                img(src='/imgs/logo_full_sm.png', alt='coomi', width='112', height='28')
              p © 2018 Coomi Technologies, Inc. 
          .column.is-12-mobile.is-2-tablet
            .menu
          .column.is-12-mobile.is-2-tablet
          .column.is-12-mobile.is-2-tablet
            .menu
              h3.menu-label About us 
              ul.menu-list
                li
                  a(href='/imprint') Imprint
                li
                  a(href='mailto:team@commi.io') Press
                li
                  a(href='/team') Team
                li
                  a(href='/privacy.pdf', target='_blank') Privacy Policy
                li
                  a(href='/terms.pdf', target='_blank') Terms of Use
          .column.is-12-mobile.is-2-tablet
            .menu
              h3.menu-label Connect 
              ul.menu-list
                li
                  a(href='https://twitter.com/?', target='_blank', title='Coomi on Twitter') Twitter
                li
                  a(href='https://www.facebook.com/?', target='_blank', title='Coomi on Facebook') Facebook
                li
                  a(href='https://www.instagram.com/?', target='_blank', title='Coomi on Instagram') Instagram
                li
                  a(href='https://www.linkedin.com/company/?', target='_blank', title='Coomi on LinkedIn') LinkedIn
    script(defer src='https://use.fontawesome.com/releases/v5.0.7/js/all.js')
    script(type='text/javascript', src='https://code.jquery.com/jquery-1.11.0.min.js')
    script(type='text/javascript', src='https://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script(type='text/javascript', src='/lib/smooth-scroll.min.js')
    script(type='text/javascript', src='/lib/main.js')
